[submodule "third_party/spoc"]
	path = third_party/spoc
	url = https://github.com/3D-Belief/spoc.git
[submodule "third_party/dfot"]
	path = third_party/dfot
	url = https://github.com/3D-Belief/dfot.git
[submodule "third_party/nwm"]
	path = third_party/nwm
	url = https://github.com/3D-Belief/nwm.git
[submodule "third_party/gen3c"]
	path = third_party/gen3c
	url = https://github.com/nv-tlabs/GEN3C.git
