defaults:
  - wandb: local
  - dataset: hm3d_eval
  - model/encoder: epidiff
  - model/decoder: splatting_cuda
  - _self_

max_scenes: null
use_first_pool: false

lr: 2e-5

checkpoint_path: null
name: null
batch_size: 12
num_target: 1
wandb_every: 500

ctxt_min: 15
ctxt_max: 16

num_context: 1
nsamples: 2
render_length: 150

overfit_to_index: null

mode: "cond"
model_type: "dit"
feats_cond: false

depth_mode: depth
extended_visualization: false

sampling_type: "simple"
setting_name: "pixelsplat"
ngpus: 1
results_folder: "/home/ubuntu/ml-dc/tianmin/yyin34/codebase/DFM/outputs/training/pixelsplat_temporal/belief_agent_test"

use_semantic: false
semantic_config: "/home/ubuntu/ml-dc/tianmin/yyin34/codebase/DFM/config/semantic/onehot.yaml"
semantic_mode: "one_hot"

stage: test

resume_id: null
wandb_id: null

use_guidance: false
guidance_scale: 1.0
temperature: 0.85
sampling_steps: 50

ema_decay: 0.995
deterministic: False

use_depth_smoothness: False
use_lpips_loss: True

image_size: 480

start_idx: 0
end_idx: 50

use_abs_pose: False
test_autoregressive_stepsize: 40
scale_aug_ratio: 0
all_class: False 
seed: 0
use_dataset_pose: False
noise: 0.0
eval_10_frame: False  
rebuttal_indices: False 
load_pn: False
lock_pn_steps: 0

load_enc: False
lock_enc_steps: 0

load_optimizer: False

use_identity: False

inference_sample_from_dataset: True
inference_num_samples: 10
inference_min_frames: 15
inference_max_frames: 105

history_frames: 5

st_n_head: 1
st_n_layer: 3

clean_target: False
intermediate: True
num_intermediate: 3
use_history: True

clevr_first_frame_prob: 0.1
clevr_start_frame_id: 1

adjacent_angle: 0.785 # pi/4
adjacent_distance: 1.0
use_depth_supervision: True

agent:
  camera: ${dataset.camera}
  save_scene: False
  key_frame_interval: 8
  max_num_traj: 3
  step_size: 0.15
  obstacle_height_thresh: 0.1