defaults:
  - agent: obj_perm_reasoning_agent
  - agent/planner: exploration_planner
  - agent/world_model: dfot_vggt_model
  - _self_

embodied_task:
  name: spoc_obj_permanence_dfot_vggt
  episode_root: /home/ubuntu/jianwen-us-midwest-1/shulab-jhu/codebase/embodied_tasks/spoc/data/spoc_full_rotation_unit_test
  adjacent_angle: 0.785  # 45 degrees
  adjacent_distance: 1.0  # meters
  occupancy_resolution: 0.1  # meters
  occupancy_obstacle_height_thresh: -0.12  # meters
  rotation_step: 10
  move_step: 0.3
  vlm_model_name: "gpt-5-mini"
  trajectory:
    save: True
    save_path: /home/ubuntu/jhu-scai-lab/yyin34/spoc/data/obj_permanence_dfot_vggt
    image_keys: ['rgb']
    string_keys: ['position', 'rotation']

task_manager:
  _target_: belief_baselines.task_manager.spoc_obj_permanence_task_manager.SpocObjPermanenceTaskManager

env_interface:
  _target_: belief_baselines.env_interface.spoc_env_interface.SpocEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 240
    w: 240
    fx: 93.6
    fy: 92.4
    cx: 120
    cy: 120
    near: 0.1
    far: 10.0
  world_model:
    camera: ${agent.camera}
    model_checkpoint: /home/ubuntu/jianwen-us-midwest-1/shulab-jhu/codebase/embodied_tasks/vggt/output/checkpoints/spoc_checkpoint.pt
  planner:
    goal_sampling_strategy: frontier_balanced_turns
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['gt_occupancy', 'belief_occupancy', 'rgb', 'pcd', 'imagine_rgb', 'imagine_semantics', 'imagine_scores', 'imagine_poses', "imagine_video", 'metrics']