defaults:
  - agent: exploration_agent
  - agent/planner: belief_3d_goal_selector
  - agent/world_model: belief_3d_model
  - paths
  - _self_

embodied_task:
  name: spoc_obj_searching_3d_belief_semantic_goal_selector
  episode_root: ${paths.episode_roots.obj_searching}
  subset_type: null # room or length
  subset: null # short, med, long for length; living, kitchen, bedroom, bathroom for room
  close_enough_distance: 4.0
  alignment_threshold: 45
  max_steps: 25
  rotation_step: 10
  move_step: 0.3
  timeout: 500
  trajectory:
    save: True
    save_path: ${paths.output_root}/object_searching_3d_belief_semantic_goal_selector
    image_keys: ['rgb']
    string_keys: ['action', 'position', 'rotation', 'distance_to_goal', 'distance_traveled', 'angle_turned']

task_manager:
  _target_: belief_baselines.task_manager.spoc_obj_searching_task_manager.SpocObjSearchingTaskManager

env_interface:
  _target_: belief_baselines.env_interface.spoc_env_interface.SpocEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 240
    w: 240
    fx: 93.6
    fy: 92.4
    cx: 120
    cy: 120
    near: 0.1
    far: 10.0
  world_model:
    camera:
      _target_: belief_baselines.agent.perception.camera.Camera
      fx: 0.390
      fy: 0.385
      cx: 0.5
      cy: 0.5
      h: 128
      w: 128
      near: 0.1
      far: 10.0
    fast_sampling: true
    model:
      diffusion_model:
        model:
          use_semantic: true
          encoder_visual_pair:
            cfg:
              use_semantic: ${agent.world_model.model.diffusion_model.model.use_semantic}
              use_reg_model: true
          semantic:
            _target_: belief_baselines.utils.model_factories.build_semantic_bundle
            use_semantic: ${agent.world_model.model.diffusion_model.model.use_semantic}
            semantic_mode: "embed"        # "embed" | "class" | ...
            semantic_viz: "query"
            semantic_config: "${paths.semantic_config}"
            clip:
              model_name: "ViT-B-16"
              pretrained: "laion2b_s34b_b88k"
              precision: "fp16"
              device: "cuda"
            reg_model:
              enabled: true
              name: "dinov2_reg_small"
              device: "cuda"
      # checkpoint_path: ${paths.checkpoints.belief_3d_semantic_training}
      checkpoint_path: ${paths.checkpoints.belief_3d_semantic}
    obs_filter_border_gaussians: true
    obs_depth_max: 4.0
  planner:
    goal_sampling_strategy: frontier_balanced_turns
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['occupancy', 'rgb', 'goal_images', 'goal_semantics', 'goal_scores', 'goal_poses']