defaults:
  - agent: obj_comp_reasoning_agent
  - agent/planner: exploration_planner
  - agent/world_model: dfot_vggt_model
  - paths
  - _self_

embodied_task:
  name: spoc_obj_completion_3d_belief
  episode_root: ${paths.episode_roots.obj_completion}
  adjacent_angle: 0.785  # 45 degrees
  adjacent_distance: 1.0  # meters
  rotation_step: 10
  move_step: 0.3
  vlm_model_name: "gpt-5-mini"
  use_obj_detection: True
  trajectory:
    save: True
    save_path: ${paths.output_root}/object_completion_3d_belief
    image_keys: ['rgb']
    string_keys: ['position', 'rotation']

task_manager:
  _target_: belief_baselines.task_manager.spoc_obj_completion_task_manager.SpocObjCompletionTaskManager

env_interface:
  _target_: belief_baselines.env_interface.spoc_env_interface.SpocEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 240
    w: 240
    fx: 93.6
    fy: 92.4
    cx: 120
    cy: 120
    near: 0.1
    far: 10.0
  world_model:
    camera: ${agent.camera}
    model_checkpoint: ${paths.checkpoints.vggt}
  planner:
    goal_sampling_strategy: frontier_balanced_turns
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['rgb', 'pcd', 'imagine_rgb', 'imagine_semantics', 'imagine_scores', 'imagine_poses', 'metrics', 'gt_bbox_image', 'rendered_bbox_image']