defaults:
  - agent: exploration_agent
  - agent/planner: vlm_goal_selector
  - agent/world_model: belief_3d_model
  - paths
  - _self_

robot_ip: "10.203.64.129"

embodied_task:
  name: stretch_obj_searching_3d_belief_gemini_vlm_goal_selector
  episode_root: ${paths.episode_roots.obj_searching}
  subset_type: null # room or length
  subset: null # short, med, long for length; living, kitchen, bedroom, bathroom for room
  close_enough_distance: 4.0
  alignment_threshold: 45
  max_steps: 25
  rotation_step: 10
  move_step: 0.2
  timeout: 25
  trajectory:
    save: True
    save_path: ${paths.output_root}/object_searching_3d_belief_gemini_vlm_goal_selector
    image_keys: ['rgb']
    string_keys: ['action', 'position', 'rotation', 'distance_to_goal', 'distance_traveled', 'angle_turned']

task_manager:
  _target_: belief_baselines.task_manager.stretch_obj_searching_task_manager.StretchObjSearchingTaskManager
env_interface:
  _target_: belief_baselines.env_interface.stretch_env_interface.StretchEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 720
    w: 1280
    fx: 644.0974
    fy: 643.0801
    cx: 641.4113
    cy: 360.6201
    near: 0.1
    far: 10.0
  world_model:
    camera:
      _target_: belief_baselines.agent.perception.camera.Camera
      fx: 0.5032011
      fy: 0.8931668
      cx: 0.5
      cy: 0.5
      h: 128
      w: 128
      near: 0.1
      far: 10.0
    model:
      diffusion_model:
        temperature: 0.8
      checkpoint_path: ${paths.checkpoints.belief_3d}
    obs_filter_border_gaussians: true
    obs_depth_min: 0.02
    obs_depth_max: 5.0
    obs_occupancy:
      obstacle_height_thresh: -0.5
      ceiling_height: 0.8
  planner:
    goal_sampling_strategy: frontier_balanced_turns
    vlm:
      _target_: belief_baselines.agent.vlm.vlm.GeminiVLM
      vlm_model_name: "gemini-3-flash-preview"
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['occupancy', 'rgb', 'goal_images', 'vlm_scores', 'vlm_response', 'goal_poses', 'pcd']