defaults:
  - agent: vlm_agent
  - agent/planner: vlm_planner
  - agent/world_model: base_world_model
  - paths
  - _self_

robot_ip: "10.203.64.129"

embodied_task:
  name: stretch_obj_searching_vlm_agent
  episode_root: ${paths.episode_roots.obj_searching}
  subset_type: null # room or length
  subset: null # short, med, long for length; living, kitchen, bedroom, bathroom for room
  close_enough_distance: 4.0
  alignment_threshold: 45
  max_steps: 25
  rotation_step: 10
  move_step: 0.3
  timeout: 50
  trajectory:
    save: True
    save_path: ${paths.output_root}/stretch_obj_searching_gemini_vlm_agent
    image_keys: ['rgb']
    string_keys: ['action', 'position', 'rotation', 'distance_to_goal', 'distance_traveled', 'angle_turned']

task_manager:
  _target_: belief_baselines.task_manager.stretch_obj_searching_task_manager.StretchObjSearchingTaskManager
env_interface:
  _target_: belief_baselines.env_interface.stretch_env_interface.StretchEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 720
    w: 1280
    fx: 644.0974
    fy: 643.0801
    cx: 641.4113
    cy: 360.6201
    near: 0.1
    far: 10.0
  planner:
    vlm:
      _target_: belief_baselines.agent.vlm.vlm.GeminiVLM
      vlm_model_name: "gemini-3-flash-preview"
    rotation_step: ${embodied_task.rotation_step}
    move_step: ${embodied_task.move_step}
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['rgb', 'vlm_response']