defaults:
  - agent: obj_comp_reasoning_agent
  - agent/planner: exploration_planner
  - agent/world_model: belief_3d_model
  - _self_

embodied_task:
  name: spoc_obj_completion_3d_belief
  episode_root: /home/ubuntu/jianwen-us-midwest-1/shulab-jhu/codebase/embodied_tasks/spoc/data/spoc_object_visibility_unit
  adjacent_angle: 0.785  # 45 degrees
  adjacent_distance: 1.0  # meters
  rotation_step: 10
  move_step: 0.3
  vlm_model_name: "gpt-5-mini"
  use_obj_detection: True
  trajectory:
    save: True
    save_path: /home/ubuntu/jhu-scai-lab/yyin34/spoc/data/object_completion_3d_belief
    image_keys: ['rgb']
    string_keys: ['position', 'rotation']

task_manager:
  _target_: belief_baselines.task_manager.spoc_obj_completion_task_manager.SpocObjCompletionTaskManager

env_interface:
  _target_: belief_baselines.env_interface.spoc_env_interface.SpocEnvInterface

agent:
  camera:
    _target_: belief_baselines.agent.perception.camera.Camera
    h: 240
    w: 240
    fx: 93.6
    fy: 92.4
    cx: 120
    cy: 120
    near: 0.1
    far: 10.0
  world_model:
    camera:
      _target_: belief_baselines.agent.perception.camera.Camera
      fx: 0.390
      fy: 0.385
      cx: 0.5
      cy: 0.5
      h: 128
      w: 128
      near: 0.1
      far: 10.0
    fast_sampling: true
    model:
      diffusion_model:
        model:
          use_semantic: true
          encoder_visual_pair:
            cfg:
              use_semantic: ${agent.world_model.model.diffusion_model.model.use_semantic}
              use_reg_model: true
          semantic:
            _target_: belief_baselines.utils.model_factories.build_semantic_bundle
            use_semantic: ${agent.world_model.model.diffusion_model.model.use_semantic}
            semantic_mode: "embed"        # "embed" | "class" | ...
            semantic_viz: "query"
            semantic_config: "/home/ubuntu/jianwen-us-midwest-1/shulab-jhu/codebase/DFM/configurations/semantic/onehot.yaml"
            clip:
              model_name: "ViT-B-16"
              pretrained: "laion2b_s34b_b88k"
              precision: "fp16"
              device: "cuda"
            reg_model:
              enabled: true
              name: "dinov2_reg_small"
              device: "cuda"
        temperature: 0.8
      checkpoint_path: /home/ubuntu/jianwen-us-midwest-1/shulab-jhu/codebase/DFM/outputs/weights/spoc/uvit_mvsplat_repa_128_seq_vggt_refine_semantic/model-114.pt
  planner:
    goal_sampling_strategy: frontier_balanced_turns
  assets_saver:
    save: True
    save_path: "${embodied_task.trajectory.save_path}"
    asset_keys: ['rgb', 'pcd', 'imagine_rgb', 'imagine_semantics', 'imagine_scores', 'imagine_poses', 'metrics', 'gt_bbox_image', 'rendered_bbox_image']